{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

<!-- 左侧导航 -->
{% block category %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Main Category</h3>
    </div>
    <ul class="nav nav-stacked">
        {% for item in maincg_list %}
            <li><a href="#{{ item['maincategory'] }}" data-toggle="tab">{{ item['maincategory'] }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

<!-- 右侧内容 -->
{% block content %}
<div id="myTabContent" class="tab-content">
    {% for maincg in links %}
        <div class="tab-pane fade in active" id="{{ maincg['main_cg'] }}">
            {% for subcg in maincg['sub_cg_list'] %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ subcg['sub_cg'] }}</h3>
                </div>
            <div class="panel-body" aria-hidden="true">
                {% for link in subcg['link'] %}
                    <div class="col-sm-3">
                        <a href="{{ link['urllocation'] }}" target="_blank">{{ link['urlname'] }}</a>&nbsp;
                        <a id="modal" href="#editModal" role="button" class="tooltip-show editicon" title="Edit this record" data-toggle="modal" data-link_id="{{ link['id'] }}" data-link_mcg="{{ link['maincategory'] }}" data-link_scg="{{ link['subcategory'] }}" data-link_name="{{ link['urlname'] }}" data-link_url="{{ link['urllocation'] }}">
                        <i class="bi bi-pencil-square"></i></a>
                        <a id="modal" role="button" class="action tooltip-show deleteicon" title="Delete this record" data-toggle="modal" href="{{ url_for('navigation.delete', id=link['id']) }}" onclick="return confirm('Are you sure to delete?');"><i class="bi bi-trash"></i></a>
                    </div>
                {% endfor %}
            </div>    
            </div>
          {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
