<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;</button>
            <h4 class="modal-title" id="myModalLabel">Edit the record</h4>
            </div>
            <form action="" id="linkid" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label for="maincategory">Main Category</label>
                    <input type="text" name="maincategory" class="form-control" value="" id="linkmcg">
                </div>
                <div class="form-group">
                    <label for="subcategory">Sub Category</label>
                    <input type="text" name="subcategory" class="form-control" value="" id="linkscg">
                </div>
                <div class="form-group">
                    <label for="urlname">Name</label>
                    <input type="text" name="urlname" class="form-control" value="" id="linkname">
                </div>
                <div class="form-group">
                    <label for="urllocation">Location</label>
                    <input type="text" name="urllocation" class="form-control" value="" id="linkurl">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-primary" value="Confirm">
            </div>
            </form>
        </div>
    </div>
</div>